
.Creatjob{
    text-decoration: none;
    color: purple;
    font-weight: bold;
     border: 1px solid purple;
     padding: 3px;
     border-radius: 5px;
     margin: 10px;
}
.deljob{
    position: absolute;
    right: 100px;
    margin-top: 25px;
    border: none;
    background: none;
}
.job_item{
    width: 237px;
}
.job_item > h4{
    margin-top: 30px;
    font-size: 16px;
}
.jobs{
    height: 450px;
}