.sum_cart{
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.item_cart{
    border: 2px solid rgb(117, 161, 236);
    width: 1000px;
    height: 500px;
    padding: 20px;
    margin: 0px auto;
    margin-top: 100px;
    box-shadow: 0px 0px 5px gray;
}
.Name_Cart{
    display: flex;
    border-bottom: 1px solid black;
    padding: 5px;
    height: 30px;
    background-color: rgb(158, 20, 158);
}
.Name_Cart> h4{
    width: 200px;
    padding-top: 5px;
    height: 40px;
    margin: 0px;
    margin-top: 3px;
    color: white;
    font-weight: bolder;
    padding-left: 5px;
}
.Name_Cart span{
    width: 100px;
    margin-top: 5px;
    font-size: 18px;
    color: white;
    font-weight: bolder;
}
.product_cart{
    display: flex;
    border-bottom: 1px solid black;
    padding: 5px;
    height: 50px;
}
.add_cart{
    margin-top: 5px;
    background: none;
    border: none;
    padding: 7px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
}
.add_cart:hover{
    background-color: red;
    color: white;
}
.product_cart h4{
    width: 200px;
    padding-top: 5px;
    height: 40px;
    margin: 0px;
    margin-top: 10px;
    padding-left: 5px;
}

.img_cart{
    width: 40px;
    height: 40px;
    margin: 5px;
    margin: 0px;
}
.product_cart >span{
    width: 100px;
    margin-top: 4px;
}
.sum_oder{
    width: 50%;
    margin-left: 20px;
    border-left: 2px solid rgb(255, 117, 117);
}
.Sum_cartOder{
    display: flex;
}
.cart_oder{
    padding-top: 15px;
    display: flex;
    margin-left: 30px;
    border-bottom: 1px solid gray;
}
.cart_oder>h4{
    width: 190px;
    font-size: 15px;
}
.item_oders{
    
}
.cart_oder>h3{
    text-align: center;
    width: 100px;
    padding: 0px;
    margin-top: 3px;
    font-weight: normal;
    font-size: 15px;
}
.cart_name{
    display: flex;
    margin-left: 30px;
    color: rgb(255, 110, 110);
}
.cart_name>h3{
    text-align: center;
    width: 100px;
    padding: 0px;
    margin-top: 3px;
    font-weight: bold;
}
.cart_name>h4{
    width: 180px;
    font-weight: bold;
    color: rgb(255, 109, 109);
}
.sum_oder > h1 {
    font-size: 20px;
    position: absolute;
    right: 30px;
    bottom: 20px;
}
.inpOder{
    width: 350px;
    margin: 10px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid grey;
}
.lableOder{
    margin-left: 15px;
    font-family: 'Tahoma', sans-serif;
    font-size: 12px;
    font-weight: bolder;
}
.delete_cart{
    height: 30px;
    margin-top: 10px;
    background: none;
    border: none;
    font-weight: bolder;
    color: rgb(255, 0, 0);
}
.delete_cart:hover{
    background-color: rgb(255, 119, 119);
    color: white;
}
.Sum_product_item{
    margin: 10px;
    font-weight: bolder;
    color: purple;
}
.OnclickOder{
    border: none;
    background: none;
    padding: 10px;
    font-weight: bold;
    color: rgb(70, 8, 8);
    font-size: 18px;
    background-color: plum;
    margin-left: 5px;
    position: absolute;
    bottom: 115px;
    right: 270px
}
.OnclickOder:hover{
    background-color: pink;
}
.Sum{
    text-align: center;
    margin: 0px;
}
.Sum > h1{
    font-family: 'Roboto Mono', monospace;
    margin: 5px;
    color: green;
}
